
<h1>View CSV File data by Line chart</h1>
<div class="form-group">
    <label id="#bb"> upload your file
        <input type="file" id="File" style="display:none" (change)="onFileSelect($event.target)"   size="60" >
        </label> 
 
</div>

<div style="display: block;" *ngIf="displaychart" width="200" height="200">
  <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
             
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
             ></canvas>
  </div>
